################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/Kurrr/Consol1/.vs/Consol1/v16
/Kurrr/ProjektNauka2/.vs/ProjektNauka2/v16
/Kurrr/Menu/.vs/Menu/v16/Browse.VC.db
/Kurrr/Menu/.vs/Menu/v16/Browse.VC.opendb
/Obiektowka/QuizObiektowy/.vs/QuizObiektowy/v16/Browse.VC.opendb
/Obiektowka/Inheritance/.vs/Inheritance/v16/Browse.VC.opendb
/Obiektowka/FunkcjeWirtualnePolimorfizm/.vs/FunkcjeWirtualnePolimorfizm/v16/Browse.VC.opendb
/cpch/.vs/cpch/v16/Browse.VC.opendb
